<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Playlist Maker</title>
</head>
<body>
  <h1>Playlist Maker</h1>
  <div>ドラッグ・アンド・ドロップで順序変更</div>
  <table>
    <thead>
      <tr>
        <th>Track</th>
        <th>Title</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th>hoge</th>
        <th>fuga</th>
      </tr>
      <tr>
        <th>2</th>
        <th>foo</th>
        <th>bar</th>
      </tr>
    </tbody>
  </table>
  <form method="post" action="{{ url_for('save') }}">
    <div><button type="submit">保存</button></div>
  </form>
</body>
</html>