{% extends "layout.html" %}
{% block body %}
<form method="post" action="{{ url_for('playlist') }}" onsubmit="return false;">
  <div>アーティスト</div>

  <div id="artists">
    <div v-for="(artist, index) in artists">
      [[ artist.name ]]
      <input type="hidden" name="artist_id" v-bind:value="artist.id">
      <button type="button" v-on:click="remove(index)">×</button>
    </div>
    <div>
      <input type="text" id="new_artist_name" value="" autocomplete="off">
      <div id="suggest" style="display:none;"></div>
      <button type="button" v-on:click="append">＋</button>
    </div>
  </div>

  <div><button type="button" onclick="submit();">作成</button></div>
</form>
{% endblock %}
