<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Playlist Maker</title>
</head>
<body>
  <h1>Playlist Maker</h1>
  <form method="post" action="{{ url_for('playlist') }}">
    <div>{{ form.artist_name.label }}</div>
    <div>
      {{ form.artist_name }}
      <select name="artist_id">
        <option value="1EowJ1WwkMzkCkRomFhui7">RADWIMPS</option>
      </select>
    </div>
    <div>
      {{ form.artist_name }}
      <select name="artist_id">
        <option value="69GGBxA162lTqCwzJG5jLp">The Chainsmokers</option>
      </select>
    </div>
    <div><button type="button">アーティスト追加</button></div>
    <div><button type="submit">作成</button></div>
  </form>
</body>
</html>